body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#cd0200;text-decoration:underline} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word} 
body {
    height: 100%;
    max-height: 100%;
    font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    font-size: 1.8rem;
    line-height: 1.75em;
    color: #3A4145;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    text-rendering: geometricPrecision;
}
.site-wrapper {
    position: relative;
    z-index: 10;
    min-height: 100%;
    background: #fff;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
}
.no-cover.main-header {
    min-height: 160px;
    max-height: 40vh;
    background: #f5f8fa;
}
.main-header {
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
    margin-bottom: 5rem;
    text-align: center;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
.main-nav.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    border: none;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
}
.no-cover .main-nav.overlay {
    background: none;
}
.main-nav {
    position: relative;
    padding: 35px 40px;
    margin: 0 0 30px 0;
}
.clearfix {
    zoom: 1;
}
.nav-closed .no-cover .menu-button {
    border-color: #BFC8CD;
    color: #9EABB3;
}
.nav-closed .menu-button {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.6);
}
.main-nav a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.menu-button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    height: 38px;
    padding: 0 15px;
    border-style: solid;
    border-width: 1px;
    opacity: 1;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
    border-radius: 3px;
    transition: all 0.5s ease;
}
.nav-closed .no-cover .menu-button {
    border-color: #BFC8CD;
    color: #9EABB3;
}
.vertical {
    display: table-cell;
    vertical-align: middle;
}
.main-header .inner {
    width: 80%;
}
.no-cover .page-title {
    color: rgba(255,255,255,0.8);
}
.home-template .page-title {
    -webkit-animation: fade-in-down 0.6s;
    animation: fade-in-down 0.6s both;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.page-title {
    margin: 10px 0 10px 0;
    font-size: 3rem;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: lightcyan;
}
.inner {
    position: relative;
    width: 80%;
    max-width: 710px;
    margin: 0 auto;
}
.main-header {
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
    margin-bottom: 4rem;
    text-align: center;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
.vertical{
    width: 100%;
    max-width: 710px;
    margin: 0 auto;
}
.gh-homevideo-container {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 225%;
}
.gh-homevideo {
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}
.post{
	width: 1024px;
	margin: 0 auto;
}
a {
    color: #4A4A4A;
    transition: color 0.3s ease;
}
.post-title{
	font-weight: 900;
}
.post-title a {
    text-decoration: none;
    font-weight: bold;
}
.post-excerpt p {
    margin: 0;
    font-size: 0.7em;
    line-height: 1.1em;
}
.post-header{
	padding-bottom: 30px;
}
.author-thumb {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 9px;
    border-radius: 100%;
}
.post-meta a {
    color: #9EABB3;
    text-decoration: none;
    font-size: 0.9rem!important;
}
.post-date {
    display: inline-block;
    margin-left: 8px;
    padding-left: 12px;
    border-left: #d5dbde 1px solid;
    text-transform: uppercase;
    font-size: 0.9rem;
    white-space: nowrap;
}
.post-meta {
    display: flex;
    margin: 1.75rem 0 0 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #9EABB3;
    align-items: center;
}
.pagination{
	width: 1024px;
	margin: 0 auto;
}

.site-footer {
    position: relative;
    margin: 8rem 0 0 0;
    padding: 1rem 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.75em;
    color: #BBC7CC;
}
.copyright {
    display: block;
    width: 45%;
    float: left;
}
.pagination {
    position: relative;
    width: 80%;
    max-width: 710px;
    margin: 4rem auto;
    font-family: "Open Sans", sans-serif;
    font-size: 0.6rem;
    color: #9EABB3;
    text-align: center;
}
.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}
.pagination a {
    color: #9EABB3;
    transition: all 0.2s ease;
}
.older-posts, .newer-posts {
    position: absolute;
    display: inline-block;
    padding: 0 15px;
    border: #bfc8cd 1px solid;
    text-decoration: none;
    border-radius: 4px;
    transition: border 0.3s ease;
}
.pagination a {
    color: #9EABB3;
    transition: all 0.2s ease;
}
.older-posts {
    right: 0;
}
.post:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #FFF;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
}


































